# VS Code
.vscode/
*.code-workspace

# pixi environments
.pixi/*
!.pixi/config.toml

# python
__pycache__/

# pytest
.pytest_cache/

# misc
docs/

# secrets
src/biocanvas/passcodes.json

# Claude
.claude/
CLAUDE.local.md
